body{
	background: url("../images/autos.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}
.list-group-item{
	margin-bottom: 5px;
	background: rgba(10,206,206,.7);
	color: white;
	border: none;
}
.list-group-item:first-of-type,
.list-group-item:last-of-type{
	border-radius: 0px;
}
.list-group-item.active{
	background: rgba(12,12,76,.7);
}
.list-group-item:hover{
	background: rgba(255,255,255,.7);
	cursor: pointer;
}
.card img{
	width: 80%;
	margin:50px auto 20px auto;
	border-radius: 50%;
}
.card .card-title {
	color: #333;
}
.card .card-title span{
	color: rgba(10,206,206,.7);
	text-align: center;

}
.card h4{
	font-size: 16px;
	font-style: italic;
	text-align: center;
}
.card .btn-primary{
	background-color: rgba(10,206,206,.7);
	border: none;
}
.social-network-wrapper{
	width: 100%;
	display: flex;
	justify-content: center;
	margin-top: 20px;
}
.social-network-wrapper .social-icon{
	background-size: cover;
	width: 25px;
	height: 25px;
	cursor: pointer;
}
.social-network-wrapper .social-icon.facebook{
	background-image: url("../images/facebook.png");
}
.social-network-wrapper .social-icon.twitter{
	background-image: url("../images/Twitter.png");
}
.social-network-wrapper .social-icon.instagram{
	background-image: url("../images/instagran.png");
}
.social-network-wrapper .social-icon.youtube{
	background-image: url("../images/youtube.png");
}
.social-network-wrapper .social-icon.linkedin{
	background-image: url("../images/linkedin.png");
}
.social-network-wrapper .social-icon:not(:first-of-type){
	margin-left: 5px;
}
.resume-wrapper{
	background: white;
	border-radius: 5px;
	height: fit-content;
	padding: 10px;
}

